extends ../shared/layout

block main-content
    form(method="post")
        label(for="title") Title
        input(id="title" class="form-control" type="text" name="title" placeholder="Title")
        br
        label(for="description") Description
        input(id="description" class="form-control" type="text" name="description" placeholder="Description")
        br
        label(for="category") Category
        select(id="category" class="form-control" name="category")
            option(value="") Choose Category (Wisely)
            each category in categories
                option(value="#{category}") #{category}
        br
        label.col-md-1(for="public") Public
            input(id="public" class="form-control" type="checkbox" name="public" value="public")
        .clearfix
        br
        .input_fields_wrap
            button.add_field_button.btn.btn-lg.btn-default Add Urls:
            .clearfix
        br
        .clearfix
        input(type="submit" class="btn btn-lg" value="Create")