extends ../shared/layout
block main-content
    .container
        .row
            h1.text-center Public playlists
                br
                table.table-bordered.table
                    tr
                        th.text-center Title
                        th.text-center Creator
                        th.text-center Rating
                        th.text-center Operations
                    each playlist in playlistsData
                        tr
                            td #{playlist.title}
                            td #{playlist.creator}
                            td #{playlist.rating || 0}
                            td
                                a.btn.btn-lg.btn-primary(href="/playlist/details/#{playlist._id}") View
                br
